# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FIA-TP1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\GU502GW\OneDrive\Ambiente de Trabalho\FIA\FIA-TP1\.idea\.idea.FIA-TP1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
